.container{
width: 600px;
height: 600px;
overflow: scroll;
margin: 0 auto;
border: 1px solid grey;
background-color: lightblue;
color: #fff;
padding: 20px;
}

h3,.btnBox{
  display: flex;
  justify-content: center;

}